@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PlayerCatalog.ViewModels.PlayerViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="center_block">
    <div class="col-md-12 content nopadding">
        <h1 class="randomText margin-top-5-rem">@Localizer["Title"]</h1>
        <p>
            @Localizer["AddingInstructions"]
            <br>
            @Localizer["SwitchingInstructions"]
        </p>
        <div class="col-md-12 content no-padding">
            <form id="contact" class="padding33" asp-controller="Player" asp-action="AddPlayer" method="post">
                <input asp-for="AllTeams" type="hidden" />
                <div class="form-group">
                    <input asp-for="Name" id="name" class="form-control" placeholder="@Localizer["PlayerName"]" autocomplete="off" required>
                    <input asp-for="Surname" id="surname" class="form-control" placeholder="@Localizer["PlayerSurname"]" autocomplete="off"
                           required>
                    <select asp-for="Gender" id="gender" class="form-control" required>
                        <option value="0" selected>@Localizer["MaleGender"]</option>
                        <option value="1">@Localizer["FemaleGender"]</option>
                    </select>
                    <input type="text" asp-for="Team" id="team" class="form-control" list="_team"
                           placeholder="@Localizer["TeamName"]" autocomplete="off" required>
                    <datalist id="_team">
                        @foreach (var team in Model.AllTeams)
                        {
                            <option value="@team.Name" />
}
                    </datalist>
                    <select asp-for="Nation" id="nation" class="form-control" required>
                        <option class="blackColor" value="0" selected>@Localizer["RussianNationality"]</option>
                        <option class="blackColor" value="1">@Localizer["AmericanNationality"]</option>
                        <option class="blackColor" value="2">@Localizer["ItalianNationality"]</option>
                    </select>
                    <input asp-for="Birthdate" id="birthdate" type="text" class="form-control" value="@Localizer["PlayerBirthDate"].Value"
                           onfocus="typeData();" />
                    <br />
                    <button class="btn btn-1 col-md-12 col-xs-12">@Localizer["AddBtnText"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/dateInput.js"></script>