@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<PlayerCatalog.ViewModels.PlayerInfo>
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="center_block">
    <div class="col-md-12 content nopadding">
        <div class="col-md-12 content no-padding paddint-5-12">
            <table class="table gray-transparent">
                <tbody id="PlayersTable">
                    <tr class="font-set">
                        <th>@Localizer["PlayerName"]</th>
                        <th>@Localizer["PlayerSurname"]</th>
                        <th>@Localizer["PlayerGender"]</th>
                        <th>@Localizer["PlayerTeam"]</th>
                        <th>@Localizer["PlayerNationality"]</th>
                        <th>@Localizer["PlayerBirthDate"]</th>
                        <th>@Localizer["Action"]</th>
                    </tr>
                    @foreach (var player in Model)
                    {
                        <tr class="tr-set">
                            <td>@player.Name</td>
                            <td>@player.Surname</td>
                            <td>
                                @(player.Gender == 0 ? Localizer["MaleGender"] : Localizer["FemaleGender"])
                            </td>
                            <td>@player.Team</td>
                            <td>@(player.Nation == 0 ? Localizer["RussianNationality"] : (int) player.Nation == 1 ? Localizer["AmericanNationality"] : Localizer["ItalianNationality"])</td>
                            <td>@player.Birthdate.ToString("dd.MM.yyyy")</td>
                            <td>
                                <a asp-controller="Player" asp-action="EditPlayer" asp-route-id="@player.Id" class="showModal">
                                    @Localizer["EditBtnText"]
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/signalr.min.js"></script>
<script src="~/js/print_signalR.js" charset="utf-8"></script>