@model diukin_test.ViewModels.PlayerViewModel

<div class="center_block margin-top-5">
    <div class="col-md-12 nopadding">
        <div class="col-md-12 content no-padding">
            <form id="contact" asp-action="Edit" method="post">
                <input asp-for="Id" type="hidden" />
                <input asp-for="AllTeams" type="hidden" />
                <div class="form-group">
                    <input asp-for="Name" class="form-control default greyColor" autocomplete="off" required>
                    <input asp-for="Surname" class="form-control default greyColor" autocomplete="off" required>
                    <select asp-for="Gender" class="form-control default greyColor" required>
                        <option class="blackColor" value="@Gender.Male" selected>Пол: мужской</option>
                        <option class="blackColor" value="@Gender.Female">Пол: женский</option>
                    </select>
                    <input asp-for="Team" class="form-control default greyColor" list="team" autocomplete="off"
                           required>
                    <datalist id="team">
                        @if (Model.AllTeams != null)
                        {
                            foreach (var team in Model.AllTeams)
                            {
                                <option>@team</option>
                            }
                        }
                    </datalist>
                    <select asp-for="Nation" class="form-control default greyColor" required>
                        @foreach (var nation in new string[] { "Италия", "США", "Россия" })
                        {
                            <option class="blackColor" value="@nation">Страна: @nation</option>
                        }
                    </select>
                    <input asp-for="Birthdate" type="text" class="form-control default greyColor"
                           onfocus="(this.type='date')" onblur="if(this.value == '') { this.type = 'text' }"
                           placeholder="Дата рождения" max='@DateTime.Now.ToString("yyyy-MM-dd")' required><br>
                    <button type="submit" class="btn btn-1 btn-1c white-animate with-arrow col-md-12 col-xs-12">
                        Изменить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/adaptive.js"></script>