@model diukin_test.ViewModels.PlayerViewModel

<div class="center_block" style="margin-top:5%;">
    <div class="col-md-12 nopadding">
        <div class="col-md-12 content no-padding">
            <form id="contact" asp-action="Edit" method="post">
                <input asp-for="Id" type="hidden" />
                <input asp-for="AllTeams" type="hidden" />
                <div class="form-group">
                    <input asp-for="Name" class="form-control default" autocomplete="off" required>
                    <input asp-for="Surname" class="form-control default" autocomplete="off" required>
                    <select asp-for="Gender" style="color:#999999;" class="form-control default" required>
                        <option style="color: black;" value="@Gender.Мужской" selected>Пол: мужской</option>
                        <option style="color: black;" value="@Gender.Женский">Пол: женский</option>
                    </select>
                    <input asp-for="Team" class="form-control default" list="team" autocomplete="off" required>
                    <datalist id="team">
                        @if (Model.AllTeams != null)
                        {
                            foreach (var team in Model.AllTeams)
                            {
                                <option>@team</option>
                            }
                        }
                    </datalist>
                    <select asp-for="Nation" style="color:#999999;" class="form-control default" required>
                        @foreach (var nation in new string[] { "Россия", "США", "Италия" })
                        {
                            <option style="color: black;" value="@nation">Страна: @nation</option>
                        }
                    </select>
                    <input asp-for="Birthdate" style="color:#999999;" type="text" class="form-control default"
                           onfocus="(this.type='date')" onblur="if(this.value == '') { this.type = 'text' }"
                           placeholder="Дата рождения" required><br>
                    <button type="submit" class="btn btn-1 btn-1c white-animate with-arrow col-md-12 col-xs-12">
                        Добавить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/adaptive.js"></script>
