@model List<diukin_test.Models.Player>
@{
    ViewData["Title"] = "Список футболистов";
}

<div class="center_block">
    <div class="col-md-12 content nopadding">
        <div class="col-md-12 content no-padding paddint-5-12">
            <div id="modDialog" class="modal fade">
                <div id="dialogContent" class="modal-dialog"></div>
            </div>
            <table class="table gray-transparent">
                <tbody id="PlayersTable">
                    <tr class="font-set">
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Пол</th>
                        <th>Команда</th>
                        <th>Национальность</th>
                        <th>Дата рождения</th>
                        <th>Действие</th>
                    </tr>
                    @foreach (var player in Model)
                    {
                        <tr class="tr-set">
                            <td>@player.Name</td>
                            <td>@player.Surname</td>
                            <td>
                                @(player.Gender.ToString() == "Male" ? "Мужской" : "Женский")
                            </td>
                            <td>@player.Team.Name</td>
                            <td>@player.Nation</td>
                            <td>@player.Birthdate.ToString("dd.MM.yyyy")</td>
                            <td>
                                <a asp-route-id="@player.Id" asp-action="Edit" class="showModal">Редактировать</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts { <script src="~/js/modal.js"></script> }
<script src="~/js/signalr.min.js"></script>
<script src="~/js/print_signalR.js"></script>